@import '~antd/dist/antd.css';

/*.App {*/
/*  text-align: center;*/
/*}*/

.map{
  /*top: 0;*/
  flex-grow: 1;
  width: 50%;
  height: 100%;
  position: fixed;
}

.root-row{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.m-1 {
  margin: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.p-1 {
  padding: 4px;
}
