@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.map{
  /*top: 0;*/
  flex-grow: 1;
  width: 50%;
  height: 100%;
  position: fixed;

}

.root-row{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.m-1 {
  margin: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.p-1 {
  padding: 4px;
}
