/*body {*/
/*    background-color: #C70025;*/
/*}*/

/*img {*/
/*    width: 100%;*/
/*}*/

/*#container {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/

/*.item {*/
/*    color: #000;*/
/*    padding: 0px 0;*/
/*    margin: 1%;*/
/*    border-radius: 2px;*/
/*    flex: 1 250px;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    background: linear-gradient(0deg, #efefef, #ffffff);*/
/*}*/

/*.item {*/
/*    position: relative;*/
/*}*/

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(0, 0, 0, 0);*/
/*    -webkit-transition: opacity 1s ease-in-out;*/
/*    -moz-transition: opacity 1s ease-in-out;*/
/*    -o-transition: opacity 1s ease-in-out;*/
/*    transition: opacity 1s ease-in-out;*/
/*}*/

/*.overlay:hover {*/
/*    opacity: 1;*/
/*    background-color: rgba(0, 0, 0, 1);*/

/*}*/

.club-card {
    max-width: 300px;
    padding: 30px;
    border: 1px solid;
}
